@charset "UTF-8";

body{
    background-image: linear-gradient(to right, rgb(107, 107, 231)10%, green 30%, yellow , white );
    font: 100;
    color: rgb(255, 6, 6);
    text-align: center;
    font-style: italic;
}
    a{
      color:rgb(255, 3, 3);
      position: absolute;
      top: 450px;
      left: 450px;
}
    
    img{
            position: absolute;
            top:70px;
            left:50px;
            width:35px;
            
}